@font-face {
  font-family: "Passio";
  src: url("assets/Passio-Graphis.otf") format("opentype");
}


*{
  font-family: 'Passio';
  font-weight: bold;
}

  #webcam{
    // display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    // min-width: 100%;
    // min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
  }


#canvas{
  position: fixed;
  z-index: 2;
  margin-left: 40%;
}
.column{


}
canvas{
  position: relative;
}

.instructions{
  color: white;
  position: fixed;
  z-index: 5;
  margin-left: 30%;
  margin-top: 10vh;
  font-size: 2em;


}
